<mat-card class="login-container">
    <mat-card-title>🔐 Iniciar Sesión</mat-card-title>
    <mat-card-content>
        <form (submit)="login()">

            <!-- Usuario -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Usuario</mat-label>
                <input matInput type="text" [(ngModel)]="username" required name="username" />
            </mat-form-field>

            <!-- Contraseña -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" [(ngModel)]="password" required name="password" />
            </mat-form-field>

            <div class="button-group">
                <button mat-raised-button color="primary" type="submit">🚀 Ingresar</button>
            </div>

            <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        </form>
    </mat-card-content>
</mat-card>